

/*----------------------------------------------------------
#transparent
----------------------------------------------------------*/
.style-transparent-bg { background-color: transparent; }
.btn-transparent { color: #ffffff !important; background-color: transparent !important; border-color: transparent !important; }
.btn-transparent:not(.btn-hover-nobg):hover,btn-transparent:active { color: transparent !important; background-color: transparent !important; border-color: transparent !important;}
.btn-transparent.btn-outline { color: transparent !important; background-color: transparent !important; border-color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-hover-nobg):hover, btn-transparent.btn-outline:active { color: #ffffff !important; background-color: transparent !important; border-color: transparent !important; }
.text-transparent-color { color: transparent !important; }
.border-transparent-color { border-color: transparent !important; }
.tmb-overlay-gradient-top .style-transparent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, transparent 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-transparent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: linear-gradient(to top, transparent 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-jevc
----------------------------------------------------------*/
.style-color-jevc-bg { background-color: #000000; }
.btn-color-jevc { color: #ffffff !important; background-color: #000000 !important; border-color: #000000 !important; }
.btn-color-jevc:not(.btn-hover-nobg):hover,btn-color-jevc:active { color: #000000 !important; background-color: transparent !important; border-color: #000000 !important;}
.btn-color-jevc.btn-outline { color: #000000 !important; background-color: transparent !important; border-color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-hover-nobg):hover, btn-color-jevc.btn-outline:active { color: #ffffff !important; background-color: #000000 !important; border-color: #000000 !important; }
.text-color-jevc-color { color: #000000 !important; }
.border-color-jevc-color { border-color: #000000 !important; }
.tmb-overlay-gradient-top .style-color-jevc-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #000000 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-jevc-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: linear-gradient(to top, #000000 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-nhtu
----------------------------------------------------------*/
.style-color-nhtu-bg { background-color: #101213; }
.btn-color-nhtu { color: #ffffff !important; background-color: #101213 !important; border-color: #101213 !important; }
.btn-color-nhtu:not(.btn-hover-nobg):hover,btn-color-nhtu:active { color: #101213 !important; background-color: transparent !important; border-color: #101213 !important;}
.btn-color-nhtu.btn-outline { color: #101213 !important; background-color: transparent !important; border-color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-hover-nobg):hover, btn-color-nhtu.btn-outline:active { color: #ffffff !important; background-color: #101213 !important; border-color: #101213 !important; }
.text-color-nhtu-color { color: #101213 !important; }
.border-color-nhtu-color { border-color: #101213 !important; }
.tmb-overlay-gradient-top .style-color-nhtu-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #101213 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-nhtu-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: linear-gradient(to top, #101213 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-wayh
----------------------------------------------------------*/
.style-color-wayh-bg { background-color: #141618; }
.btn-color-wayh { color: #ffffff !important; background-color: #141618 !important; border-color: #141618 !important; }
.btn-color-wayh:not(.btn-hover-nobg):hover,btn-color-wayh:active { color: #141618 !important; background-color: transparent !important; border-color: #141618 !important;}
.btn-color-wayh.btn-outline { color: #141618 !important; background-color: transparent !important; border-color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-hover-nobg):hover, btn-color-wayh.btn-outline:active { color: #ffffff !important; background-color: #141618 !important; border-color: #141618 !important; }
.text-color-wayh-color { color: #141618 !important; }
.border-color-wayh-color { border-color: #141618 !important; }
.tmb-overlay-gradient-top .style-color-wayh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #141618 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wayh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: linear-gradient(to top, #141618 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-rgdb
----------------------------------------------------------*/
.style-color-rgdb-bg { background-color: #1b1d1f; }
.btn-color-rgdb { color: #ffffff !important; background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.btn-color-rgdb:not(.btn-hover-nobg):hover,btn-color-rgdb:active { color: #1b1d1f !important; background-color: transparent !important; border-color: #1b1d1f !important;}
.btn-color-rgdb.btn-outline { color: #1b1d1f !important; background-color: transparent !important; border-color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-hover-nobg):hover, btn-color-rgdb.btn-outline:active { color: #ffffff !important; background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.text-color-rgdb-color { color: #1b1d1f !important; }
.border-color-rgdb-color { border-color: #1b1d1f !important; }
.tmb-overlay-gradient-top .style-color-rgdb-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #1b1d1f 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-rgdb-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: linear-gradient(to top, #1b1d1f 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-prif
----------------------------------------------------------*/
.style-color-prif-bg { background-color: #303133; }
.btn-color-prif { color: #ffffff !important; background-color: #303133 !important; border-color: #303133 !important; }
.btn-color-prif:not(.btn-hover-nobg):hover,btn-color-prif:active { color: #303133 !important; background-color: transparent !important; border-color: #303133 !important;}
.btn-color-prif.btn-outline { color: #303133 !important; background-color: transparent !important; border-color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-hover-nobg):hover, btn-color-prif.btn-outline:active { color: #ffffff !important; background-color: #303133 !important; border-color: #303133 !important; }
.text-color-prif-color { color: #303133 !important; }
.border-color-prif-color { border-color: #303133 !important; }
.tmb-overlay-gradient-top .style-color-prif-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #303133 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-prif-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: linear-gradient(to top, #303133 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-xsdn
----------------------------------------------------------*/
.style-color-xsdn-bg { background-color: #ffffff; }
.btn-color-xsdn { color: #ffffff !important; background-color: #ffffff !important; border-color: #ffffff !important; }
.btn-color-xsdn:not(.btn-hover-nobg):hover,btn-color-xsdn:active { color: #ffffff !important; background-color: transparent !important; border-color: #ffffff !important;}
.btn-color-xsdn.btn-outline { color: #ffffff !important; background-color: transparent !important; border-color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-hover-nobg):hover, btn-color-xsdn.btn-outline:active { color: #ffffff !important; background-color: #ffffff !important; border-color: #ffffff !important; }
.text-color-xsdn-color { color: #ffffff !important; }
.border-color-xsdn-color { border-color: #ffffff !important; }
.tmb-overlay-gradient-top .style-color-xsdn-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ffffff 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-xsdn-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ffffff 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-lxmt
----------------------------------------------------------*/
.style-color-lxmt-bg { background-color: #f7f7f7; }
.btn-color-lxmt { color: #ffffff !important; background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt:not(.btn-hover-nobg):hover,btn-color-lxmt:active { color: #f7f7f7 !important; background-color: transparent !important; border-color: #f7f7f7 !important;}
.btn-color-lxmt.btn-outline { color: #f7f7f7 !important; background-color: transparent !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-hover-nobg):hover, btn-color-lxmt.btn-outline:active { color: #ffffff !important; background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.text-color-lxmt-color { color: #f7f7f7 !important; }
.border-color-lxmt-color { border-color: #f7f7f7 !important; }
.tmb-overlay-gradient-top .style-color-lxmt-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #f7f7f7 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-lxmt-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: linear-gradient(to top, #f7f7f7 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-gyho
----------------------------------------------------------*/
.style-color-gyho-bg { background-color: #eaeaea; }
.btn-color-gyho { color: #ffffff !important; background-color: #eaeaea !important; border-color: #eaeaea !important; }
.btn-color-gyho:not(.btn-hover-nobg):hover,btn-color-gyho:active { color: #eaeaea !important; background-color: transparent !important; border-color: #eaeaea !important;}
.btn-color-gyho.btn-outline { color: #eaeaea !important; background-color: transparent !important; border-color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-hover-nobg):hover, btn-color-gyho.btn-outline:active { color: #ffffff !important; background-color: #eaeaea !important; border-color: #eaeaea !important; }
.text-color-gyho-color { color: #eaeaea !important; }
.border-color-gyho-color { border-color: #eaeaea !important; }
.tmb-overlay-gradient-top .style-color-gyho-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #eaeaea 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-gyho-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: linear-gradient(to top, #eaeaea 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-uydo
----------------------------------------------------------*/
.style-color-uydo-bg { background-color: #dddddd; }
.btn-color-uydo { color: #ffffff !important; background-color: #dddddd !important; border-color: #dddddd !important; }
.btn-color-uydo:not(.btn-hover-nobg):hover,btn-color-uydo:active { color: #dddddd !important; background-color: transparent !important; border-color: #dddddd !important;}
.btn-color-uydo.btn-outline { color: #dddddd !important; background-color: transparent !important; border-color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-hover-nobg):hover, btn-color-uydo.btn-outline:active { color: #ffffff !important; background-color: #dddddd !important; border-color: #dddddd !important; }
.text-color-uydo-color { color: #dddddd !important; }
.border-color-uydo-color { border-color: #dddddd !important; }
.tmb-overlay-gradient-top .style-color-uydo-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #dddddd 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-uydo-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: linear-gradient(to top, #dddddd 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-wvjs
----------------------------------------------------------*/
.style-color-wvjs-bg { background-color: #777777; }
.btn-color-wvjs { color: #ffffff !important; background-color: #777777 !important; border-color: #777777 !important; }
.btn-color-wvjs:not(.btn-hover-nobg):hover,btn-color-wvjs:active { color: #777777 !important; background-color: transparent !important; border-color: #777777 !important;}
.btn-color-wvjs.btn-outline { color: #777777 !important; background-color: transparent !important; border-color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-hover-nobg):hover, btn-color-wvjs.btn-outline:active { color: #ffffff !important; background-color: #777777 !important; border-color: #777777 !important; }
.text-color-wvjs-color { color: #777777 !important; }
.border-color-wvjs-color { border-color: #777777 !important; }
.tmb-overlay-gradient-top .style-color-wvjs-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #777777 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wvjs-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: linear-gradient(to top, #777777 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-vyce
----------------------------------------------------------*/
.style-color-vyce-bg { background-color: #0cb4ce; }
.btn-color-vyce { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-color-vyce:not(.btn-hover-nobg):hover,btn-color-vyce:active { color: #0cb4ce !important; background-color: transparent !important; border-color: #0cb4ce !important;}
.btn-color-vyce.btn-outline { color: #0cb4ce !important; background-color: transparent !important; border-color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-hover-nobg):hover, btn-color-vyce.btn-outline:active { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.text-color-vyce-color { color: #0cb4ce !important; }
.border-color-vyce-color { border-color: #0cb4ce !important; }
.tmb-overlay-gradient-top .style-color-vyce-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #0cb4ce 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-vyce-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to top, #0cb4ce 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-160908
----------------------------------------------------------*/
.style-color-160908-bg { background-color: #ff590a; }
.btn-color-160908 { color: #ffffff !important; background-color: #ff590a !important; border-color: #ff590a !important; }
.btn-color-160908:not(.btn-hover-nobg):hover,btn-color-160908:active { color: #ff590a !important; background-color: transparent !important; border-color: #ff590a !important;}
.btn-color-160908.btn-outline { color: #ff590a !important; background-color: transparent !important; border-color: #ff590a !important; }
.btn-color-160908.btn-outline:not(.btn-hover-nobg):hover, btn-color-160908.btn-outline:active { color: #ffffff !important; background-color: #ff590a !important; border-color: #ff590a !important; }
.text-color-160908-color { color: #ff590a !important; }
.border-color-160908-color { border-color: #ff590a !important; }
.tmb-overlay-gradient-top .style-color-160908-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ff590a 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-160908-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ff590a 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-878846
----------------------------------------------------------*/
.style-color-878846-bg { background-color: #0cce50; }
.btn-color-878846 { color: #ffffff !important; background-color: #0cce50 !important; border-color: #0cce50 !important; }
.btn-color-878846:not(.btn-hover-nobg):hover,btn-color-878846:active { color: #0cce50 !important; background-color: transparent !important; border-color: #0cce50 !important;}
.btn-color-878846.btn-outline { color: #0cce50 !important; background-color: transparent !important; border-color: #0cce50 !important; }
.btn-color-878846.btn-outline:not(.btn-hover-nobg):hover, btn-color-878846.btn-outline:active { color: #ffffff !important; background-color: #0cce50 !important; border-color: #0cce50 !important; }
.text-color-878846-color { color: #0cce50 !important; }
.border-color-878846-color { border-color: #0cce50 !important; }
.tmb-overlay-gradient-top .style-color-878846-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #0cce50 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-878846-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: linear-gradient(to top, #0cce50 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-192233
----------------------------------------------------------*/
.style-color-192233-bg { background-color: #ffc42e; }
.btn-color-192233 { color: #ffffff !important; background-color: #ffc42e !important; border-color: #ffc42e !important; }
.btn-color-192233:not(.btn-hover-nobg):hover,btn-color-192233:active { color: #ffc42e !important; background-color: transparent !important; border-color: #ffc42e !important;}
.btn-color-192233.btn-outline { color: #ffc42e !important; background-color: transparent !important; border-color: #ffc42e !important; }
.btn-color-192233.btn-outline:not(.btn-hover-nobg):hover, btn-color-192233.btn-outline:active { color: #ffffff !important; background-color: #ffc42e !important; border-color: #ffc42e !important; }
.text-color-192233-color { color: #ffc42e !important; }
.border-color-192233-color { border-color: #ffc42e !important; }
.tmb-overlay-gradient-top .style-color-192233-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ffc42e 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-192233-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ffc42e 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#accent
----------------------------------------------------------*/
.style-accent-bg { background-color: #0cb4ce; }
.btn-accent { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-accent:not(.btn-hover-nobg):hover,btn-accent:active { color: #0cb4ce !important; background-color: transparent !important; border-color: #0cb4ce !important;}
.btn-accent.btn-outline { color: #0cb4ce !important; background-color: transparent !important; border-color: #0cb4ce !important; }
.btn-accent.btn-outline:not(.btn-hover-nobg):hover, btn-accent.btn-outline:active { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.text-accent-color { color: #0cb4ce !important; }
.border-accent-color { border-color: #0cb4ce !important; }
.tmb-overlay-gradient-top .style-accent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #0cb4ce 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-accent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to top, #0cb4ce 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#Style light
----------------------------------------------------------*/
.style-light-bg { background-color: #ffffff; }

/*----------------------------------------------------------
#Style dark
----------------------------------------------------------*/
.style-dark-bg { background-color: #141618; }

/*----------------------------------------------------------
#Color fix
----------------------------------------------------------*/
.btn-white.btn-outline:hover { color: #333333 !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-134980 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-175345 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-202503 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-156269 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-762333 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Hind
----------------------------------------------------------*/
.font-377884 { font-family: "Hind" !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-850707 { font-family: "Poppins" !important; }

/*----------------------------------------------------------
#Font-size: 12px
----------------------------------------------------------*/
.fontsize-160000 { font-size: 12px; }

/*----------------------------------------------------------
#Font-size: 50px
----------------------------------------------------------*/
.fontsize-155944 { font-size: 50px; }
@media (max-width: 959px) { .fontsize-155944 { font-size: 33.3333333333px; }}
@media (max-width: 569px) { .fontsize-155944 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-155944 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 75px
----------------------------------------------------------*/
.fontsize-338686 { font-size: 75px; }
@media (max-width: 959px) { .fontsize-338686 { font-size: 50px; }}
@media (max-width: 569px) { .fontsize-338686 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-338686 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 100px
----------------------------------------------------------*/
.fontsize-445851 { font-size: 100px; }
@media (max-width: 959px) { .fontsize-445851 { font-size: 66.6666666667px; }}
@media (max-width: 569px) { .fontsize-445851 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-445851 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 125px
----------------------------------------------------------*/
.fontsize-739966 { font-size: 125px; }
@media (max-width: 959px) { .fontsize-739966 { font-size: 83.3333333333px; }}
@media (max-width: 569px) { .fontsize-739966 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-739966 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 150px
----------------------------------------------------------*/
.fontsize-160206 { font-size: 150px; }
@media (max-width: 959px) { .fontsize-160206 { font-size: 100px; }}
@media (max-width: 569px) { .fontsize-160206 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-160206 { font-size: 28px; }}

/*----------------------------------------------------------
#Line-height: 1.75
----------------------------------------------------------*/
.fontheight-524109 { line-height: 1.75; }

/*----------------------------------------------------------
#Line-height: 1.5
----------------------------------------------------------*/
.fontheight-357766 { line-height: 1.5; }

/*----------------------------------------------------------
#Line-height: 1
----------------------------------------------------------*/
.fontheight-179065 { line-height: 1; }

/*----------------------------------------------------------
#Line-height: .85
----------------------------------------------------------*/
.fontheight-161249 { line-height: .85; }

/*----------------------------------------------------------
#Line-height: .5
----------------------------------------------------------*/
.fontheight-578034 { line-height: .5; }

/*----------------------------------------------------------
#Letter-spacing: -0.02em
----------------------------------------------------------*/
.fontspace-781688 { letter-spacing: -0.02em; }

/*----------------------------------------------------------
#Letter-spacing: -0.05em
----------------------------------------------------------*/
.fontspace-111509 { letter-spacing: -0.05em; }

/*----------------------------------------------------------
#Letter-spacing: .2em
----------------------------------------------------------*/
.fontspace-210350 { letter-spacing: .2em; }

/*----------------------------------------------------------
#Letter-spacing: .5em
----------------------------------------------------------*/
.fontspace-135905 { letter-spacing: .5em; }

/*----------------------------------------------------------
#Letter-spacing: 1em
----------------------------------------------------------*/
.fontspace-238483 { letter-spacing: 1em; }

